
.header-content {
    height: 10%;
    padding: 15px 50px;
    background-color: black;
}

.login-form__heading {
    text-align: center;
    padding-top: 30px;
}

.login-form__inner {
    display: flex;
    justify-content: center;
}

.login-form__group {
    margin-top: 30px;
}

.login-form__label {
    font-size: 20px;
    font-weight: bold;
}

.login-form__input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.login-form__form {
    padding: 10px 20px;
    width: 40%;
}

.login-form__btn {
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #fc4444;
    border-color: #fc4444;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
}

.login-form__register {
    text-align: center;
}