.header-content {
    display: flex;
    align-items: center;
    background-color: #000;
    /* 背景が黒の場合 */
}

/* 1. ロゴエリア */
.header-content img {
    width: 250px;
    /* 画像のサイズに合わせて調整 */
    flex: 1;
    /* 左側の比率を1にする */
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form__group-title {
    text-align: left;
    margin: 20px 0 5px;
}

.form__label--item {
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid ;
    border-radius: 3px;
    appearance: none;
}

.form__button {
    margin-top: 80px;
}

.form__button-submit {
    padding: 5px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login__link {
    margin-top: 20px;
    text-align: center;
}