.header-content {
    padding: 15px 50px;
    background-color: black;
}

.profile-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.profile-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.profile-image-section {
    display: flex;
    align-items: center;
    gap: 50px;
    margin:0 20px 30px;
}

.image-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    /* 枠からはみ出た部分を隠す */
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(200, 200, 200);
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 画像の比率を保ったまま枠に収める */
}

.image-upload-label {
    padding: 5px 20px;
    border: 1px solid #ff4b2b;
    color: #ff4b2b;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.image-upload-label:hover {
    background-color: #ff4b2b;
    color: #fff;
}

.form__group-title {
    text-align: left;
    margin: 20px 0 5px;
}

.form__label--item {
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-radius: 3px;
    appearance: none;
}

.form__button {
    margin-top: 50px;
}

.form__button-update {
    padding: 5px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
